<% if (is_post()){
	const posts = site.posts;

    let prev, next  = null;
    const current = page.slug.split("/")[page.slug.split("/").length-1];
    let postList = [];

    for(let i = 0; i < posts.length; i++) {
    	const post = posts.data[i];
    	postList.push(post);
    }

    postList.sort(function(a, b){
    	let date ={
    		a : new Date(a.date),
    		b : new Date(b.date),
    	}
    	return (date.a - date.b);
    });

    for(let i = 0; i < postList.length; i++){
    	const post = postList[i];
    	let title = post.slug.split("/")[post.slug.split("/").length-1];
    	if(title == current){
    		prev = postList[i-1];
    		next = postList[i+1];
    		if (i == postList.length-1){
    			next = null;
    		}
    	}
    }
%>

<div class="post-guide">
	<div class="item left">
	<% if ( prev != null ) { %>
		<a href="<%- url_for(prev.path) %>">
			<i class="fa fa-angle-left" aria-hidden="true"></i>
			<%- prev.title || prev.slug.split("/")[prev.slug.split("/").length-1] %>
		</a>
	<% }%>
	</div>
	<div class="item right">
		<% if ( next != null ) { %>
		<a href="<%- url_for(next.path) %>">
			<%- next.slug.split("/")[next.slug.split("/").length-1] %>
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</a>
		<% }%>
	</div>
</div>
<% } %>